@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';
@import './custom.css' layer(utilities);

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-grey, currentColor);
  }
  
  /* Editor-specific typography */
  .editor-styles-wrapper {
    font-family: var(--font-sans) !important;
  }
  
  .editor-post-title__block .editor-post-title__input,
  .editor-styles-wrapper h1,
  .editor-styles-wrapper h2,
  .editor-styles-wrapper h3,
  .editor-styles-wrapper h4,
  .editor-styles-wrapper h5,
  .editor-styles-wrapper h6 {
    font-family: var(--font-serif) !important;
    color: var(--color-uab-green) !important;
  }
}